.search {
  display: flex;
  align-items: center;
  max-width: 300px;
}

.search input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 0.9rem;
}

.search button {
  padding: 0.5rem 1rem;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 0.9rem;
}

.search button:hover {
  background-color: teal;
}
